<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.workflow.mapper.actionconfig.ActionConfigMapper">

    <resultMap id="ActionConfigResult" type="com.yundao.workflow.model.base.ActionConfigModel" extends="com.yundao.workflow.mapper.base.ActionConfigModelMapper.BaseResultMap"> 
    </resultMap>
</mapper>
